<button class="btn btn-dark mb-3" (click)="showUserForm = !showUserForm"> Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="user.firstName" #userFirstName='ngModel' [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}"
        class="form-control" name="firstName" required minlength="2">
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
        First name is required
      </div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="user.lastName" #userLastName='ngModel' [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}"
        class="form-control" name="lastName" required minlength="2">
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
        Last name is required
      </div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" [(ngModel)]="user.email" #userEmail='ngModel' [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}"
        class="form-control" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email is required
      </div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid
      </div>
    </div>
    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">
      Add New User
    </button>
  </form>

</div>

<ul *ngFor="let user of users" class="list-unstyled">
  <li class="card card-body mb-2" [class.bg-light]="user.isActive">
    <h4> {{ user.firstName }} {{ user.lastName}}
      <small>
        <button class="btn btn-dark" (click)=toggleHide(user)> <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus' "></i>
        </button></small></h4>
    <ul class="list-group" *ngIf="!user.hide && user.email && user.registered">
      <li class="list-group-item"> Email: {{ user.email }} </li>
      <li *ngIf="user.registered" class="list-group-item">Joined: {{ user.registered | date}} </li>
    </ul>
  </li>
</ul>